In [1]:
import numpy as np #mathamatical tools
import matplotlib.pyplot as plt #plot charts
import pandas as pd #import and manage dataset

In [2]:
dataset=pd.read_csv("reportnum.csv")
print(dataset)
#indexes start with 0 here, in R it starts with 1

                                    Country  Year  No. of cases  \
0                               Afghanistan  2017      161778.0
1                                   Algeria  2017           0.0
2                                    Angola  2017     3874892.0
3                                 Argentina  2017           0.0
4                                   Armenia  2017           0.0
5                                Azerbaijan  2017           0.0
6                                Bangladesh  2017        4893.0
7                                    Belize  2017           7.0
8                                     Benin  2017     1573163.0
9                                    Bhutan  2017          24.0
10         Bolivia (Plurinational State of)  2017        4572.0
11                                 Botswana  2017        1900.0
12                                   Brazil  2017      189503.0
13                             Burkina Faso  2017    10225459.0
14                                  Burundi  2017     7670177.0
15                               Cabo Verde  2017         423.0
16                                 Cambodia  2017       36932.0
17                                 Cameroon  2017     1191257.0
18                 Central African Republic  2017      383309.0
19                                     Chad  2017     1962372.0
20                                    China  2017           0.0
21                                 Colombia  2017       52805.0
22                                  Comoros  2017        2274.0
23                                    Congo  2017      127939.0
24                               Costa Rica  2017          12.0
25                            CÃ´te d'Ivoire  2017     3274683.0
26    Democratic People's Republic of Korea  2017        4575.0
27         Democratic Republic of the Congo  2017    15176927.0
28                                 Djibouti  2017       14671.0
29                       Dominican Republic  2017         341.0
...                                     ...   ...           ...
1914                      Republic of Korea  2000        4183.0
1915                                 Rwanda  2000           NaN
1916                  Sao Tome and Principe  2000       31975.0
1917                           Saudi Arabia  2000        6608.0
1918                                Senegal  2000       44959.0
1919                           Sierra Leone  2000           NaN
1920                        Solomon Islands  2000       68107.0
1921                                Somalia  2000           NaN
1922                           South Africa  2000           NaN
1923                            South Sudan  2000           NaN
1924                              Sri Lanka  2000      210039.0
1925                                  Sudan  2000      368557.0
1926                               Suriname  2000       11361.0
1927                   Syrian Arab Republic  2000           6.0
1928                             Tajikistan  2000       19064.0
1929                               Thailand  2000       78561.0
1930                            Timor-Leste  2000       15212.0
1931                                   Togo  2000           NaN
1932                                 Turkey  2000       11432.0
1933                           Turkmenistan  2000          24.0
1934                                 Uganda  2000           NaN
1935                   United Arab Emirates  2000           NaN
1936            United Republic of Tanzania  2000       17734.0
1937                             Uzbekistan  2000         126.0
1938                                Vanuatu  2000        6768.0
1939     Venezuela (Bolivarian Republic of)  2000       29736.0
1940                               Viet Nam  2000       74316.0
1941                                  Yemen  2000     1394495.0
1942                                 Zambia  2000           NaN
1943                               Zimbabwe  2000           NaN

      No. of deaths             WHO Region
0              10.0  Eastern Mediterranean
1               0.0                 Africa
2           13967.0                 Africa
3               1.0               Americas
4               NaN                 Europe
5               NaN                 Europe
6              13.0        South-East Asia
7               0.0               Americas
8            2182.0                 Africa
9               1.0        South-East Asia
10              0.0               Americas
11             17.0                 Africa
12             30.0               Americas
13           4144.0                 Africa
14           4414.0                 Africa
15              2.0                 Africa
16              1.0        Western Pacific
17           3195.0                 Africa
18           3689.0                 Africa
19           2088.0                 Africa
20              7.0        Western Pacific
21             19.0               Americas
22              3.0                 Africa
23            229.0               Americas
24              0.0               Americas
25           3222.0                 Africa
26              0.0        Western Pacific
27          27458.0                 Africa
28              NaN  Eastern Mediterranean
29              1.0               Americas
...             ...                    ...
1914            0.0        Western Pacific
1915            NaN                 Africa
1916          254.0                 Africa
1917            NaN  Eastern Mediterranean
1918         1275.0                 Africa
1919            NaN                 Africa
1920           38.0        Western Pacific
1921            NaN  Eastern Mediterranean
1922          424.0                 Africa
1923            NaN                 Africa
1924           77.0        South-East Asia
1925         2162.0  Eastern Mediterranean
1926           24.0               Americas
1927            NaN  Eastern Mediterranean
1928            0.0                 Europe
1929          625.0        South-East Asia
1930            NaN        South-East Asia
1931            NaN                 Africa
1932            0.0                 Europe
1933            0.0                 Europe
1934            NaN                 Africa
1935            NaN  Eastern Mediterranean
1936          379.0                 Africa
1937            0.0                 Europe
1938            3.0        Western Pacific
1939           24.0               Americas
1940          142.0        Western Pacific
1941            NaN  Eastern Mediterranean
1942            NaN                 Africa
1943            NaN                 Africa

[1944 rows x 5 columns]

In [3]:
# considering the independent variables as X and dependent variables as Y 
X=dataset.iloc[:,:-1].values #all data except the last column 
Y=dataset.iloc[:,3].values #only the column with index 3

In [4]:
print(X)

[['Afghanistan' 2017 161778.0 10.0]
 ['Algeria' 2017 0.0 0.0]
 ['Angola' 2017 3874892.0 13967.0]
 ...
 ['Yemen' 2000 1394495.0 nan]
 ['Zambia' 2000 nan nan]
 ['Zimbabwe' 2000 nan nan]]

In [5]:
print(Y)

[1.0000e+01 0.0000e+00 1.3967e+04 ...        nan        nan        nan]

In [6]:
#missing data
from sklearn.impute import SimpleImputer
imputer=SimpleImputer(missing_values=np.nan,strategy='mean')
imputer.fit(X[:, 1:3])
X[:, 1:3]=imputer.transform(X[:, 1:3])
print(X)

[['Afghanistan' 2017.0 161778.0 10.0]
 ['Algeria' 2017.0 0.0 0.0]
 ['Angola' 2017.0 3874892.0 13967.0]
 ...
 ['Yemen' 2000.0 1394495.0 nan]
 ['Zambia' 2000.0 389730.2514619883 nan]
 ['Zimbabwe' 2000.0 389730.2514619883 nan]]

In [7]:
# encoding independent variables...
# Onehutencoding creates binary codes of each vectors like france-1 0 0, germany-0 1 0,spain-0 0 1 for the three countries insted of 0 1 2
# we replace no and yes as 0 and 1
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct=ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[0])],remainder='passthrough')
X=ct.fit_transform(X)
print(X)

  (0, 0)	1.0
  (0, 108)	2017.0
  (0, 109)	161778.0
  (0, 110)	10.0
  (1, 1)	1.0
  (1, 108)	2017.0
  (2, 2)	1.0
  (2, 108)	2017.0
  (2, 109)	3874892.0
  (2, 110)	13967.0
  (3, 3)	1.0
  (3, 108)	2017.0
  (3, 110)	1.0
  (4, 4)	1.0
  (4, 108)	2017.0
  (4, 110)	nan
  (5, 5)	1.0
  (5, 108)	2017.0
  (5, 110)	nan
  (6, 6)	1.0
  (6, 108)	2017.0
  (6, 109)	4893.0
  (6, 110)	13.0
  (7, 7)	1.0
  (7, 108)	2017.0
  :	:
  (1937, 109)	126.0
  (1938, 102)	1.0
  (1938, 108)	2000.0
  (1938, 109)	6768.0
  (1938, 110)	3.0
  (1939, 103)	1.0
  (1939, 108)	2000.0
  (1939, 109)	29736.0
  (1939, 110)	24.0
  (1940, 104)	1.0
  (1940, 108)	2000.0
  (1940, 109)	74316.0
  (1940, 110)	142.0
  (1941, 105)	1.0
  (1941, 108)	2000.0
  (1941, 109)	1394495.0
  (1941, 110)	nan
  (1942, 106)	1.0
  (1942, 108)	2000.0
  (1942, 109)	389730.2514619883
  (1942, 110)	nan
  (1943, 107)	1.0
  (1943, 108)	2000.0
  (1943, 109)	389730.2514619883
  (1943, 110)	nan

In [8]:
# encoding dependent variables
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
Y=le.fit_transform(Y)
print(Y)

[ 10   0 676 ... 715 851 976]